/*
 * Copyright (C) 2021 Dhruva Gole <goledhruva@gmail.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;
/plugin/;

/*
 * Helper to show loaded overlays under: /proc/device-tree/chosen/overlays/
 */
&{/chosen} {
    overlays {
        BELA_OVERLAY = __TIMESTAMP__;
    };
};

&ocp {  //fragment@0
    /*
    * Free up the pins used by the cape from the pinmux helpers.
     */
    P9_19_pinmux { status = "disabled";  };
    P9_20_pinmux { status = "disabled";  };

    /* Pinmux for McASP1 (audio i/o) */
    P9_25_pinmux { pinctrl-0 = <&P9_25_mcasp_pin>;  };  /* xref_clk0.mcasp1_ahclkx */
    P9_28_pinmux { pinctrl-0 = <&P9_28_mcasp_pin>;  };  /* mcasp1_axr11.mcasp1_axr11 */
    P9_29_pinmux { pinctrl-0 = <&P9_29_mcasp_pin>;  };  /* mcasp1_fsx.mcasp1_fsx, mcasp1_axr9.off */
    P9_30_pinmux { pinctrl-0 = <&P9_30_mcasp_pin>;  };  /* mcasp1_axr10.mcasp1_axr10 */
    P9_31_pinmux { pinctrl-0 = <&P9_31_mcasp_pin>;  };  /* mcasp1_aclkx.mcasp1_aclkx, mcasp1_axr8.off */

    /* McSPI */
    P9_17_pinmux { pinctrl-0 = <&P9_17_spi_cs_pin>;  }; /* spi2_cs0.spi2_cs0, mcasp1_axr1.off */
    P9_18_pinmux { pinctrl-0 = <&P9_18_spi_pin>; }; /* spi2_d0.spi2_d0, mcasp1_axr0.off */
    P9_21_pinmux { pinctrl-0 = <&P9_21_spi_pin>;  }; /* spi2_d1.spi2_d1, vin1a_vsync0.off */
    P9_22_pinmux { pinctrl-0 = <&P9_22_spi_sclk_pin>;  };   /* spi2_sclk.spi2_sclk, xref_clk2.off */
};

&bone_i2c_2 {   //fragment@10
    status = "okay";
    clock-frequency = <400000>;
};

&mcasp1 {   //fragment@4
        status = "okay";      
};
